@model appdev.Models.TraineeUser
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.ID)

    <div class="form-group">
        @Html.LabelFor(tp => tp.Email)
        @Html.EditorFor(tp => tp.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(tp => tp.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(tp => tp.Full_Name)
        @Html.EditorFor(tp => tp.Full_Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(tp => tp.Full_Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(tp => tp.Age)
        @Html.EditorFor(tp => tp.Age, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(tp => tp.Age)
    </div>

    <div class="form-group">
        @Html.LabelFor(tp => tp.Education)
        @Html.EditorFor(tp => tp.Education, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(tp => tp.Education)
    </div>

    <div class="form-group">
        @Html.LabelFor(tp => tp.DateOfBirth)
        @Html.EditorFor(tp => tp.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(tp => tp.DateOfBirth)
    </div>
    <button type="submit" class="btn btn-default">Edit</button>

    <div class="invisible">
        @Html.LabelFor(p => p.TraineeID)
        @Html.EditorFor(p => p.TraineeID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(p => p.TraineeID, "", new { @class = "text-danger" })
    </div>
}

@Html.ActionLink("Back to List", "Index")

