@model appdev.Models.Category
@{
    ViewBag.Title = "Create";
}

<h2>Create a new Category</h2>
@using (Html.BeginForm("Create", "Categories", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    <label>Name</label>
    @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name, "",
     new { @class = "text-danger" }
      )
    <label>Description</label>
    @Html.TextBoxFor(m => m.Description, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description, "",
      new { @class = "text-danger" }
      )
</div>
    <button type="submit" class="btn btn-primary">Create</button>
}
