@model IEnumerable<appdev.ViewModels.TrainerAccountViewModels>
@{
    ViewBag.Title = "IndexTrainer";
}

<div class="page-header">
    <h2 style="margin-bottom: 15px">List Of Trainer Account</h2>
</div>

<div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
    <div class="form-group">
        @Html.ActionLink("Create a New Trainer", "CreateTrainerAccount", "Admin", new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Trainer Email</th>
            <th scope="col">Trainer FullName</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td style="vertical-align: middle" scope="row">@item.TrainerUsers.Email</td>
                <td style="vertical-align: middle" scope="row">#</td>
                @*<td style="vertical-align: middle">@item.Staffs.FullName</td>*@
                <td>
                    @Html.ActionLink("Edit Trainer Info", "EditTrainerAccount", "Admin", new { id = @item.TrainerUsers.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete Trainer", "DeleteTrainerAccount", "Admin", new { id = @item.TrainerUsers.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Password Reset", "TrainerPasswordReset", "Admin", new { id = @item.TrainerUsers.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Trainer Details", "TrainerInfoDetails", "Admin", new { id = @item.TrainerUsers.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>